@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
}
header img {
  margin-top: 30px;
  margin-bottom: 30px;
}
header a {
  font-size: 20px;
  padding: 20px 7px;
  display: inline-block;
}
header a:hover {
  background-color: #B8DAE4;
}
header .active {
  background-color: #B8DAE4;
}

main {
  background-image: url("../images/fondo-pag-speciali.jpg");
  padding-top: 50px;
  padding-bottom: 30px;
}
main h1 {
  color: #042D76;
}
main h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #042D76;
  padding-top: 10px;
  padding-bottom: 15px;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
}
main .cards .card {
  width: calc(100%/3 - 10px);
  margin: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
main .cards .card img {
  max-width: 100%;
  display: block;
}
main .cards .card .card-text {
  background-color: rgba(13, 65, 84, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
main .cards .card .card-text a {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .cards .card:hover .card-text {
  opacity: 1;
}
main .immagini_prodotto {
  margin: auto;
  text-align: center;
  position: relative;
}
main .immagini_prodotto img {
  width: 50%;
  margin-top: 50px;
}
main .immagini_prodotto p {
  text-align: left;
  color: #042D76;
}
main .immagini_prodotto .fas.fa-chevron-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: white;
}
main .immagini_prodotto .fas.fa-chevron-left:hover {
  color: #042D76;
}
main .immagini_prodotto .fas.fa-chevron-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: white;
}
main .immagini_prodotto .fas.fa-chevron-right:hover {
  color: #042D76;
}

footer {
  color: grey;
  height: 300px;
}
